body {
  background-color: hsl(7, 35%, 90%);
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  height: 350vh;
}

h1.main {
  color: hsl(10, 69%, 87%);
  font-size: 30px;
  margin-top: -3em;
}

h2.text {
  color: hsl(0, 0%, 0%);
}

h3.text {
  color: hsl(0, 0%, 0%);
  text-align: center;
}

h4.text {
  color: hsl(0, 0%, 0%);
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 30px;
}

.darkMode h3 {
  color: hsl(0, 0%, 100%);
  text-align: center;
  margin-bottom: 1em;
}

p.header {
  color: hsl(8, 42%, 86%);
  font-size: 20px;
  justify-content: center;
  margin-left: 10em;
  margin-right: 10em;
  background-color: hsl(0, 0%, 0%, 10%);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
nav {
  background-color: hsl(6, 20%, 81%);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.darkMode nav {
  background-color: hsl(0, 1%, 27%);
}

.darkMode .openbtn {
  background-color: hsl(0, 1%, 27%);
  color: hsl(0, 0%, 100%);
}

.darkMode nav a:hover {
  color: hsl(0, 0%, 80%);
}

.sidepanel {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 5px;
  left: 0;
  background-color: hsl(7, 35%, 90%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: hsl(0, 0%, 0%);
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: hsl(0, 6%, 65%);
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.darkMode .sidepanel {
  background-color: hsl(0, 0%, 20%);
}

.darkMode .sidepanel a {
  color: hsl(0, 0%, 100%);
}

.darkMode .closebtn {
  color: hsl(0, 0%, 100%);
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: hsl(6, 20%, 81%);
  color: hsl(0, 0%, 0%);
  padding: 10px 15px;
  border: none;
  display: block;
}

.openbtn:hover {
  color: hsl(0, 6%, 65%);
}

.sidepanel {
  height: 50%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: hsl(7, 35%, 90%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 85%;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Toggle dark and light mode */
.darkToggle {
  appearance: none;
  width: 50px;
  height: 30px;
  background-color: hsl(0, 5%, 42%);
  border-radius: 15px;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.darkToggle::after {
  content: "";
  width: 25px;
  height: 25px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(-5px, -50%);
  transition: transform 0.3s ease;
}

.darkMode .darkToggle::after {
  transform: translate(25px, -50%);
  background-color: hsl(0, 0%, 20%);
}
.darkMode {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
}

header {
  background-image: url("https://images.pexels.com/photos/3974275/pexels-photo-3974275.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  height: 80vh;
  background-size: cover;
  text-align: center;
}

/* button to scroll */
.scrollButton {
  background-color: hsl(0, 35%, 94%);
  color: hsl(0, 0%, 0%);
  padding: 10px 15px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 150px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
}

.scrollButton:hover {
  background-color: hsl(0, 4%, 39%);
  color: hsl(0, 0%, 100%);
}

/* logo */
.svg-element:hover {
  fill: hsl(0, 55%, 85%);
  transition: 0.3s;
}

.svg-name {
  fill: hsl(0, 55%, 90%);
}

.svg-name:hover {
  fill: hsl(0, 35%, 94%);
  transition: 0.3s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.image-animation {
  animation: fadeInOut 10s infinite;
}

/* cards */
.maincard {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px auto;
  min-width: 230px;
  max-width: 330px;
  color: hsl(0, 0%, 100%);
  text-align: left;
  font-size: 16px;
  background: hsl(0, 0%, 0%);
  justify-content: center;
  margin-left: 10em;
  margin-top: 10em;
  margin-bottom: 10em;
}

.maincard *,
.snip1577:before,
.snip1577:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.maincard img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  height: auto;
}

.maincard:before,
.maincard:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: "";
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}

.maincard:before {
  width: 0;
  height: 1px;
}

.maincard:after {
  height: 0;
  width: 1px;
}

.maincard figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

.maincard:hover img,
.maincard.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
}

.maincard:hover:before,
.maincard.hover:before,
.maincard:hover:after,
.maincard.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.maincard:hover:before,
.maincard.hover:before {
  width: 40px;
}

.maincard:hover:after,
.maincard.hover:after {
  height: 40px;
}

.item {
  position: relative;
}

.item a::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 20px;
}

@media only screen and (max-width: 600px) {
  .maincard {
    max-width: 2em;
    max-height: 20em;
    margin-top: 0em;
    margin-bottom: 5em;
    justify-content: center;
    display: block;
    margin: 3em auto;
    position: relative;
  }

  p.header {
    color: hsl(7, 50%, 93%);
    font-size: 15px;
    justify-content: center;
    margin-left: 2em;
    margin-right: 2em;
    background-color: hsl(0, 0%, 0%, 10%);
  }

  .body {
    background-color: hsl(7, 35%, 90%);
    overflow-x: hidden;
    margin: 0;
    width: 100%;
  }
}

/* carousel */
.container-carousel {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
}

.container-carousel img {
  width: 100%;
  z-index: -2;
}

@media only screen and (max-width: 600px) {
  .container-carousel {
    max-width: 20em;
    max-height: 18em;
    margin-top: 8em;
    margin-bottom: 8em;
    align-items: center;
  }
}

/* Textbox for chat */
.open-button {
  background-color: #555;
  color: white;
  padding: 12px 18px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  margin-bottom: 5em;
  justify-content: center;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

.form textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form .btn {
  background-color: hsl(6, 20%, 81%);
  color: hsl(0, 0%, 0%);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form .cancel {
  background-color: hsl(0, 0%, 33%);
  color: hsl(0, 0%, 100%);
}

.form .btn:hover,
.open-button:hover {
  opacity: 1;
}

.checkbox {
  text-align: center;
}

.darkMode .open-button {
  background-color: hsl(0, 8%, 93%);
  color: black;
}

@media only screen and (max-width: 600px) {
  .open-button {
    background-color: #555;
    color: white;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 120px;
    margin-bottom: 5em;
    margin-top: 10em;
  }

  .chat-popup {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 10px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    justify-content: center;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5em;
  background-color: hsl(6, 20%, 81%);
  color: hsl(0, 0%, 0%);
  text-align: center;
  padding-top: 1.5em;
}

.darkMode footer {
  background-color: hsl(0, 1%, 27%);
  color: hsl(0, 0%, 100%);
}
