body {
  background-color: hsl(7, 35%, 90%);
  height: 200vh;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
nav {
  background-color: hsl(7, 35%, 90%);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  display: flex; /* Use flexbox layout */
  align-items: center; /* Vertically center the items */
}

.darkMode nav {
  background-color: hsl(0, 0%, 20%);
}

.darkMode .openbtn {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
}

.darkMode nav a:hover {
  color: hsl(0, 0%, 80%);
}

.sidepanel {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 5px;
  left: 0;
  background-color: hsl(7, 35%, 90%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: hsl(0, 0%, 0%);
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: hsl(0, 6%, 65%);
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.darkMode .sidepanel {
  background-color: hsl(0, 0%, 20%);
}

.darkMode .sidepanel a {
  color: hsl(0, 0%, 100%);
}

.darkMode .closebtn {
  color: hsl(0, 0%, 100%);
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: hsl(7, 35%, 90%);
  color: hsl(0, 0%, 0%);
  padding: 10px 15px;
  border: none;
  display: block;
}

.openbtn:hover {
  color: hsl(0, 6%, 65%);
}

.sidepanel {
  height: 50%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: hsl(7, 35%, 90%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 85%;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Toggle dark and light mode */
.darkToggle {
  appearance: none;
  width: 50px;
  height: 30px;
  background-color: hsl(0, 5%, 42%);
  border-radius: 15px;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.darkToggle::after {
  content: "";
  width: 25px;
  height: 25px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(-5px, -50%);
  transition: transform 0.3s ease;
}

.darkMode .darkToggle::after {
  transform: translate(25px, -50%);
  background-color: hsl(0, 0%, 20%);
}
.darkMode {
  background-color: hsl(0, 0%, 20%);
  color: white;
}

header {
  background-image: url("https://images.pexels.com/photos/2088206/pexels-photo-2088206.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  height: 80vh;
  background-size: cover;
  text-align: center;
}

/* button to scroll */
.scrollButton {
  background-color: hsl(0, 35%, 94%);
  color: hsl(0, 0%, 0%);
  padding: 15px 25px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 150px;
  cursor: pointer;
  border-radius: 20px;
}

.scrollButton:hover {
  background-color: hsl(0, 4%, 39%);
  color: hsl(0, 0%, 100%);
}

/*logo*/
.svg-element {
  fill: hsl(0, 0%, 100%);
  transition: fill 0.3s ease;
}

.svg-element:hover {
  fill: hsl(350, 100%, 88%);
  transition: 0.3s;
}

.svg-name {
  fill: hsl(0, 0%, 0%);
}

.svg-name:hover {
  fill: hsl(350, 100%, 88%);
  transition: 0.3s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.image-animation {
  animation: fadeInOut 10s infinite;
}
